    <li class="list-group-item item {%if item['value'] == '0' %} incorrect {%endif%} {%if item['value'] == '1'%} correct{%endif%} item-{{item['username']}}-{{item['quiz_name']}}-{{item['sheet_no']}}-{{item['item_no']}}" 
                     data-item-no="{{item['item_no']}}"
                     data-sheet-no="{{item['sheet_no']}}"
                     data-value="{{item['value']}}" 
                     data-username="{{item['username']}}"
                     data-quiz-name="{{item['quiz_name']}}"
                     >
                     <div class="item-container">
                      <img src="{{item['src']}}">
                     </div>
    </li>