<style>
  .submit-progress {
    visibility: hidden;
  }
</style>


<p> Upload a pdf file containing the scanned quizes.</p>
<p> The first page should be a blank copy of the quiz, the second should be an answer key, followed by the students' quizes. </p>
<p> Name the file like this: <span style="font-family: monospace;"> SEMESTER--COURSE-NAME--QUIZ-NAME.pdf</span> . For example: <span style="font-family: monospace;"> 106-2--ENG-101--Quiz-1.pdf </span></p>
<form id="new-form" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label>Semester:</label>
    <input type="text" class="form-text" name="semester" placeholder="semester e.g. 106-2">
  </div>
  <div class="form-group">
    <label>Course Name:</label>
    <input type="text" class="form-text" name="course_name" placeholder="course name">
  </div>
  <div class="form-group">
    <label>Quiz Name: </label>
    <input type="text" class="form-text" name="quiz_name" placeholder="Quiz Name">
  </div>

  <div class="form-group">
    <label>PDF File: </label>
    <input type="file" id="file-input" name="quiz_pdf">
  </div>

  <div style="display: none;"> Answer key: <textarea name="answer_key" rows=20 cols=20></textarea></div>
  <input id="submit-button" type="submit" value="Upload file">
  <span id="submit-message"></span>
  <div class="progress submit-progress">
  <div id="submit-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
  </div>

  <h4 onclick="javascript:document.getElementById('options-div').classList.add('shown')"> Options -&gt;</h4>
  <style>
    #options-div {
      display: none;
    }
    #options-div.shown {
      display: block;
    }

  </style>
  <div id="options-div">
    <div>
      <h4> Cropping  </h4>
      <input type="radio" name="cropping" value="none" id="cropping-none" checked>
      <label for="cropping-none">no cropping</label><br>
      <input type="radio" name="cropping" value="left" id="cropping-left">
      <label for="cropping-none">crop and keep left side </label><br>
      <input type="radio" name="cropping" value="right" id="cropping-right">
      <label for="cropping-none">crop and keep right side </label><br>
    </div>
  </div>
</form>
<script src="/static/vendor/jquery.js"></script>
<script>
// automatically extract semester, course, and quiz name from filename
// for example: SEMESTER--COURSE--QUIZNAME.pdf
document.getElementById('file-input').onchange = function (evt) {
  alert(evt.target.files[0].name)
  const filename = evt.target.files[0].name;
  const parts = filename.split('--')
  console.log(parts)
  if(parts.length === 3){
    const semester = parts[0];
    const course_name = parts[1];
    const quiz_name = parts[2].slice(0, -4); // remove '.pdf' from end of string
    document.getElementsByName('semester')[0].value = semester;
    document.getElementsByName('course_name')[0].value = course_name;
    document.getElementsByName('quiz_name')[0].value = quiz_name;
  }
};
function start_progress_bar (){
  const pb = $('#submit-progress-bar');
  pb.css('visibility', 'visible');
  pb.css('width', '20%');
  let t = 20;
  setInterval(()=>{pb.css('width', (t++) + '%'); t>100 ? (t=50, pb.addClass('bg-warning')) : 0;}, 1000)
}
document.getElementById('new-form').onsubmit = function (evt) {
  $('#submit-button').attr("disabled", true);
  document.getElementById('submit-message').innerHTML = 'Please wait while your quiz is processed...This may take a few minutes.';
  start_progress_bar()
};
</script>
