<!doctype html>
<head>
<title>{% block title %}{% endblock %} - Quiz Grader</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  /* a:visited:not(.btn) { color: #551A8B; } */

  a:visited{
    color: initial; 
    text-decoration: underline;
  }
  a.btn:visited { color: #333; }
  a.btn-danger:visited { color: #fff; }
  a.btn-primary:visited { color: #fff; }
</style>

{% block head %}{%endblock%}

</head>
<body>
<nav class="navbar navbar-light bg-light" aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    {% if username %}
      <li class="breadcrumb-item">
        <a href="{{url_for('user_quizzes', username=username)}}"> {{ username }} </a>
      </li>
    {% endif %}
    {% if username and quiz_name %}
    <li class="breadcrumb-item">
      <a href="{{ url_for('present_quiz', username=username, quiz_name=quiz_name) }}">  {{quiz_name}} </a> 
    </li>
    {% endif %}
  </ol>
  <a class="nav-link" href="{{url_for('logout_user_route')}}"> Logout {{current_user.get_id()}}</a>

</nav>
<section class="content">
  {% block content %}{% endblock %}
</section>
</body>
