<!doctype html>
<head>
<title>{% block title %}{% endblock %} - Quiz Grader</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
</style>

</head>
<body>
<section class="content">
<div class="card">
<article class="card-body">
	<h4 class="card-title text-center mb-4 mt-1">Thank you</h4>
	<p class="text-center"> Thank you. We will get in touch with with you soon. </p>
	<p class="text-center"> <a href="/"> back to homepage </a></p>
</article>
</div>
</section>
</body>