<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.jumbotron {
  background-image: url("/static/splash-key.png");
  background-size: cover;
}
p.lead {
  width: 35%;
  font-family: "Times New Roman", Times, serif;
}
h1.title {
  color: #ff5817;
  font-family: "Times New Roman", Times, serif;
}


.lead-1 {
  color: #ff5817;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  border-color: #ff5817;
}

.dl-list > li {
  color: #82c6af;
}


</style> 
<div class="container">
<div class="jumbotron">
  <br><br><br><br><br><br><br>
  <br><br><br>
  <h1 class="title display-1"> Quiz Grader </h1>
  <p class="lead lead-1 ml-3 border-bottom">
    Computer assisted grading for multiple choice quizzes.
  </p>
  <p class="lead lead-2 ml-3">
    Scan your students' answer sheets to a pdf, and upload them. Manually check answers and automatically calculate scores.  Coming soon: OCR grading.
  </p>
  <div class="row">
    <div class="col-sm-6 border-right">
      <div class="ml-3 pl-3">
        {% if config.LOCAL == 'TRUE' %}
          <a href="{{ url_for('users') }}" class="btn btn-primary btn-lg"> Enter </a>
        {% else  %}
          <a href="{{ url_for('login_user_route') }}" class="btn btn-primary btn-lg"> Enter </a>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6 border-right">
    <ul class="dl-list">
      <li> Download: <a href="static/samples/106-2--ENG-101--FINAL-EXAM-2.pdf" class=""> sample exam PDF </a>
      </li>
      <li> Download: <a href="static/samples/quiz-template-20Q.docx" class=""> Quiz Template in WORD </a>
      </li>
      <li> Download: <a href="https://bitbucket.org/robert_mcc/quizgrader/src/master/" class=""> Source Code from bitbucket </a>
      </li>
    <ul>
    </div>
  </div>
</div>
<div>
<div class="row">
  <div class="col-sm-6 border-right">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Go from this...</h5>
      </div>
      <img class="card-img-bottom" src="/static/img-ungraded.png">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">...to this.</h5>
      </div>
      <img class="card-img-bottom" src="/static/img-graded.png">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 1. Scan your quiz as a PDF.</h5>
          <p class="card-text">
            Scan in your quiz using a copy machine and save it to USB. Upload the PDF and grade it with computer assisted grading. Coming soon: Autmated ORC grading.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="https://drive.google.com/uc?export=download&id=1k6YmAFbVhdoPKvQxtSlK2_a7RkfLw-OU" type='video/mp4'>
          </video>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 2. Upload your PDF.</h5>
          <p class="card-text">
            Upload your pdf to the app.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="https://drive.google.com/uc?export=download&id=1QLehcyk-qbQ8Mmq0sYCW2Xc16jtmw86F" type='video/mp4'>
          </video>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 3. Set the answer key</h5>
          <p class="card-text">
            Coming soon: do this automatically with OCR.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="https://drive.google.com/uc?export=download&id=1VMfiKvutPA-_D8bSUvoBb8LqgAohCaFQ" type='video/mp4'>
          </video>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 4. Mark the incorrect answers</h5>
          <p class="card-text">
            Coming soon: do this automatically with OCR.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="https://drive.google.com/uc?export=download&id=14f2WDYWmwuaklQWv2WN-eya3wSVHS3Cb" type='video/mp4'>
          </video>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 5. Set the student ids</h5>
          <p class="card-text">
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="https://drive.google.com/uc?export=download&id=1zH7Kx5VHoYRw_3W91cHNaTxHphiTs_cr" type='video/mp4'>
          </video>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 6. Download the CSV with scores and the PDF</h5>
          <p class="card-text">
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="https://drive.google.com/uc?export=download&id=1lfM1JKQHtpzV7e6C56lVSMREXgq1TQxI" type='video/mp4'>
          </video>
      </div>
    </div>
  </div>
</div>
</div>
