<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>

</style> 
<div class="container">
<div class="jumbotron">
  <h1> Quiz Grader </h1>
  <p class="lead">
    Computer assisted grading for mulitple choice quizes.
  </p>
  <p class="lead">
    Scan your students answer sheets to a pdf, and upload them. Manually check answers and automatically calculate scores.  Coming soon: OCR grading.
  </p>
  <p>
  <a href="users" class="btn btn-primary btn-lg"> enter </a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Download <a href="static/samples/106-2--SAMPLE--FINAL-EXAM-2.pdf" class=""> sample exam PDF </a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Download <a href="static/samples/quiz-template-20Q.docx" class=""> Quiz Template in WORD </a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Download <a href="https://bitbucket.org/robert_mcc/quizgrader/src/master/" class=""> Source Code from bitbucket </a>

  </p>
</div>
<div>
<div class="row">
  <div class="col-sm-6 border-right">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Go from this...</h5>
      </div>
      <img class="card-img-bottom" src="/static/img-ungraded.png">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">...to this.</h5>
      </div>
      <img class="card-img-bottom" src="/static/img-graded.png">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 1. Scan your quiz as a PDF.</h5>
          <p class="card-text">
            Scan in your quiz using a copy machine and save it to USB. Upload the PDF and grade it with computer assisted grading. Coming soon: Autmated ORC grading.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="/static/scan-quiz.mp4">
          </video>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 2. Upload your PDF.</h5>
          <p class="card-text">
            Upload your pdf to the app.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="/static/upload-pdf.mp4">
          </video>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 3. Set the answer key</h5>
          <p class="card-text">
            Coming soon: do this automatically with OCR.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="/static/set-answer-key.mp4">
          </video>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 4. Mark the incorrect answers</h5>
          <p class="card-text">
            Coming soon: do this automatically with OCR.
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="/static/grade-items.mp4">
          </video>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 5. Set the student ids</h5>
          <p class="card-text">
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="/static/set-ids.mp4">
          </video>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 6. Download the CSV with scores and the PDF</h5>
          <p class="card-text">
          </p>
          <video controls
                 muted 
                 class="card-img-bottom" src="/static/download-csv.mp4">
          </video>
      </div>
    </div>
  </div>
</div>
</div>
